<!-- html -->


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="wrapper-page bootstrap snippets bootdeys">
    <div class="text-center">
        <a href="#" class="logo logo-lg">
            <i class="fa fa-th"></i> 
            <span>Bootdey.com</span> 
        </a>
    </div>
    <form method="post" action="#" role="form" class="text-center m-t-20">
        <div class="user-thumb">
            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-responsive img-circle img-thumbnail" alt="thumbnail">
        </div>
        <div class="form-group">
            <h3>John Deo</h3>
            <p class="text-muted">Enter your password to access the admin.</p>
            <div class="input-group m-t-30">
                <input type="password" class="form-control" placeholder="Password">
                <span class="input-group-btn"> <button type="submit" class="btn btn-email btn-info waves-effect waves-light">
                    Log In
                </button> </span>
            </div>
        </div>
        <div class="text-right">
            <a href="#" class="text-muted">Not John Deo ?</a>
        </div>
    </form>
</div>



<!-- css -->

body {
    background: #f5f5f5;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    color: #4c5667;
    overflow-x: hidden !important;
}
.wrapper-page {
    margin: 7.5% auto;
    width: 360px;
}
.wrapper-page .form-control-feedback {
    left: 15px;
    top: 3px;
    color: rgba(76, 86, 103, 0.4);
    font-size: 20px;
}
.logo {
    color: #3bafda !important;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .02em;
    line-height: 70px;
}
.logo-lg {
    font-size: 28px !important;
}
.logo i {
    color: #f76397;
}
.user-thumb img {
    height: 88px;
    margin: 0px auto;
    width: 88px;
}